---
// components/CardsEco.astro
const services = [
  {
    title: "Bolsas Biodegradables",
    description: "Esta hermosa alternativa ecológica compostable nos permite dar a las mascotas un tributo respetuoso.",
    color: "#9C7862",
    image: "/images/Cards/bolsa.jpg",
    anchor: "cremacion"
  },
  {
    title: "Urnas de Madera",
    description: "Nuestras urnas de madera honran el profundo vínculo que compartimos con nuestros fieles compañeros.",
    color: "#C9C6C0",
    image: "/images/Cards/urna-madera.jpeg",
    anchor: "bolsas"
  },
  {
    title: "Entrega Parcial",
    description: "Para quienes prefieren algo más pequeño y delicado, ofrecemos urnas parciales de resina en diversos diseños y tamaños.",
    color: "#9C7862",
    image: "/images/Cards/mini-urnas.webp",
    anchor: "urna"
  },
    {
    title: "Sin Entrega",
    description: "A veces este ciclo concluye con la partida de nuestra mascota. Esta opción es para quienes prefieren no recibir las cenizas.",
    color: "#D8B7A4",
    image: "/images/Cards/constancia.png",
    anchor: "urna"
  },
];

---
<div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-10 font-sans">
  {services.map((service, index) => (
    <a 
      href={`/servicios#${service.anchor}`} 
      class="group relative flex flex-col rounded-xl shadow-lg overflow-hidden h-[500px] transform transition-transform duration-300 hover:scale-[1.02]"
      style={`background-color: ${service.color};`}
    >
      <!-- Diagonal Image -->
      <div 
        class="absolute w-full h-1/2 bg-cover bg-center transition-transform duration-500 ease-in-out group-hover:scale-105 rounded-t-xl"
        style={`background-image: url('${service.image}'); clip-path: polygon(0 0, 100% 0, ${index % 2 === 0 ? '100% 85%' : '100% 85%'}, 0 100%);`}
      >
        <div class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-b from-transparent to-[${service.color}]"></div>
      </div>

      <!-- Content -->
      <div class="relative h-full flex flex-col justify-end p-6 pt-64">
        <div class="bg-white/90 backdrop-blur-sm p-5 rounded-lg shadow-md">
          <h3 class="text-3xl font-bold mb-3 tracking-wide font-sans" style={`color: ${service.color};`}>
            {service.title}
          </h3>
          <p class="text-lg text-gray-700 leading-relaxed font-sans">{service.description}</p>
        </div>
      </div>
    </a>
  ))}
</div>

